
navbar {
    background-color: #2b657f;
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo-text{
    font-weight:georgia, times new roman, times, serif;
    text-align: center;
    font-size:20px;
    margin-left:10px;
}


nav a:hover{
    text-decoration:underline;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    





  }
    body {
        background-color: #6699c0;
        color: #ffffff;
        padding: 20px;
;
    }

    img {
        max-width: 100%;
        height: 200px;
        border-radius: 60px;
        border: 10px solid #bbc7cf;
    }
    .team-member {
        display: flex;
        flex-wrap: wrap;
        justify-content: left first baseline;
        gap: 40px;
        
    }
    .team-member{
        text-align: center;

    }
    .team-member {
        width: 150px;
        border-radius: 15px;

    }
    .footer {
        background-color: #2b657f;
        color: #ffffff;
        padding: 15px;
        text-align: center;
    }