@font-face {
    font-family: 'Coolvetica';
    src: url('coolvetica.otf') format('opentype');
}

:root {
    --color-primario: #5687a8d9; 
    --color-secundario: #4591c4c3;
    --color-terciario: #569bd4f0;
    --color-texto: #f5f9fc;
    --color--oscuro:#203b51d7;
    --color-menu:#7BBCE0;
    --color-cards-individuales: #5793b977;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.title{
    font-size: 58px;
    color:var(--color-primario);
    text-align: center;
    margin-top: 20px;
}

/* Configuración del cuerpo */
body {
    font-family: 'coolvetica';
    font-weight: normal;
    letter-spacing: 0.7px; 
    background-image: url("fondo_scishark.webp");
    background-size: cover;   /* <-- Ajusta la imagen al tamaño de la pantalla */
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color:#1a1a1a;
    transition: background-color 0.4s, color 0.4s;
}

/*                                                    MENU BURGUER KJSSSJKJKASKASASKJ                                                   */

nav{
    
    padding: 1rem 2rem;
   
}
.nav-container{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

/*menu color*/
.menubur{
    color: var(--color-menu);
   
}
.links{
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: all 0.3s ease;
}
.links a{
    color: var(--color-texto);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}
.links a:hover{
    opacity: 0.8;
    transform: translateY(-2px);
}
.menubur{
    display: none;
    background: none;
    border: none;
    color: var(--color-texto);
    font-size: 1.5rem;
    cursor: pointer;
}

@media(max-width: 768px){
    .menubur{
        display: block;
    }
    .links{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--color-menu);
        flex-direction: column;
        clip-path: circle(0px at 90% -10%);
        pointer-events: none;
    }
    .links.active{
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .links li{
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease;
    }
    .links.active li {
        opacity: 1;
        transform: translateY(0)
    }
    .links li:nth-child(1) {transition-delay: 0.1s;}
     .links li:nth-child(2) {transition-delay: 0.2s;}
      .links li:nth-child(3) {transition-delay: 0.3s;}
       .links li:nth-child(4) {transition-delay: 0.4s;}
}





/* celular */
@media (max-width: 768px) {
    body {
        background-size: cover;   /* Mantiene la imagen adaptada */
        background-attachment: scroll; /* Evita problemas en móviles con fixed */
    }
}

/* Barra de navegación */
.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
    font-size: 19px;
    background: #097aaa5a;  
    color: var(--color-texto);
}


.logo {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}

.logo-text {
    font-weight:normal;
    font-size:20px;
    margin-left:10px;
}

.logo-container {
    display:flex;
    align-items:center;
}

nav ul {
    list-style:none;
    display:flex;
    gap:20px;
}

nav a {
    text-decoration:none;
    color: var(--color-texto);
}

nav a:hover {
    text-decoration:underline;
}

/* Sección Hero */
.hero {
    text-align:center;
    padding:45px 20px;
}

.hero h1 {
    font-size:89px;
    color:var(--color--oscuro);
}

.hero h2 {
    margin:14px 0;
    font-size:36px;
    color:var(--color-terciario);
}

.hero p {
    max-width:600px;
    font-size: 20px;
    margin:16px auto;
    color: var(--color-primario);
}
.h4 embed 
{padding: 25px;}

/* Botones */
.btn-login {
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background-color:var(--color-secundario);
    color: var(--color-texto);
    text-decoration:none;
    border-radius:8px;
    width: 170px;
    height: 50px;
    transition: 0.2s;
}

.btn-login:hover {
    transform: translateY(-5px);
}

/* Tarjetas de información */
.info {
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px 10%;
    flex-wrap:wrap;
}

.card {
    background:var(--color-primario);
    padding:25px;
    border-radius:10px;
    width:250px;
    text-align:center;
    box-shadow:0 6px 13px rgba(20, 20, 20, 0.521);
    transition: 0.3s;
}

.card h3 {
    margin-bottom:10px;
    color:var(--color--oscuro);
    font-size: 22px;
}

.card:hover {
    transform: translateY(-10px);
}




.cuenta-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Funcionalidad modo oscuro CSS */
#modo-check {
    display: none;
}

/* Botón activador de modo oscuro */
.btn-toggle {
    display: block;
    margin: 40px 0 10px 10%; 
    padding: 10px 20px;
    background-color: var(--color-primario);
    color:  var(--color-texto);
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
}

.btn-toggle:hover {
    background-color: var(--color-secundario);
}

/* BUSCADOR */
.search {
    text-align: center;
    margin: 20px;

}

.search input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-clarito);
    background-color: var(--color-clarito);
    color:var(--color-texto);

}
.search input::placeholder {
    color: var(--color--oscuro);
    font-weight: bold;
}

.search input:focus {
    outline: 3px solid var(--color-texto);
}

.search-box {
    position: relative;
    width: 60%;
    margin: 20px auto;
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
}

.search-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-secundario);
}
/* CONTENEDOR DE TARJETAS EXPERIMENTOS */
.tarjeta-espacio {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* más pequeñas */
    gap: 60px; /* más separación entre tarjetas */
    padding: 40px;
}


.cardsinfo {
  width: 280px;              /* Ajusta el ancho de cada tarjeta */
}


/*experimentos tarjetas parte principal*/


.exptag{
     background-color:#5793b977;
    padding: 20px; 
    border-radius: 15px;
    margin: 5px auto;
    margin-bottom: 5px;
    width: 1300px;
    color: var(--color-oscuro);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.exptag:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
.exptag h2{
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--color-terciario);
    text-align: left;
}

.exptag h3{
    font-size: 22px;
    color: var(--color-secundario);
    margin-bottom: 10px;
}
/*  texto  */
.exptag p{
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 15px;
}
.exptag figure{
margin: 30px auto;
text-align: center;
}

.exptag figure img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* TARJETAS INDIVIDUALES */
.cardsinfo {
    background-color: var(--color-cards-individuales);
    padding: 20px; /* menos padding interno para que se vean compactas */
    border-radius: 20px;
    color: var(--color-oscuro);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardsinfo:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

/* TAGS DE CATEGORÍA */
.tag {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-texto);
    margin-bottom: 10px;
}

/* Colores por categoría */
.tag.fisica { background-color: #4a90e2; }
.tag.quimica { background-color: #e94e77; }
.tag.biologia { background-color: #50b848; }

/* BOTÓN */
.btn-primario {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: var(--color-oscuro);
    color: var(--color-texto);
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primario:hover {
    background-color: var(--color--oscuro);
}

/*CAMBIO DE MODO*/ 

/* Funcionalidad modo oscuro CSS */
#modo-check {
    display: none;
}

/* Botón */
.btn-toggle {
    display: block;
    margin: 40px 0 10px 10%; 
    padding: 10px 20px;
    background-color: var(--color-oscuro);
    color: var(--color-texto);
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
}

.btn-toggle:hover {
    background-color: var(--color-secundario);
}

/* activar modo oscuro */
body:has(#modo-check:checked) {
    background-color: #2f5e91;
    background-image: url("fondo_scishark.webp");
}

/*  TEXTO NEGRO */
body:has(#modo-check:checked) h1,
body:has(#modo-check:checked) h2,
body:has(#modo-check:checked) p,
body:has(#modo-check:checked) a,
body:has(#modo-check:checked) h3,
body:has(#modo-check:checked) span,
body:has(#modo-check:checked) a,
body:has(#modo-check:checked) div,
body:has(#modo-check:checked) i,
body:has(#modo-check:checked) input

 {
    color: #0f0404df !important;
}

/* CARDS OSCURAS */
body:has(#modo-check:checked) .card {
    background-color: #10385881;
    color: white;
}

body:has(#modo-check:checked) .card {
    background: #1d466799;
}
/*                                                                                                           energia hidraulica                                                                       */

.energia{
     background-color:#5793b977;
    padding: 25px; 
    border-radius: 15px;
    margin: 30px auto;
    max-width: 900px;
    color: var(--color-oscuro);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.energia:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
.energia h2{
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--color-terciario);
    text-align: left;
}

.energia h3{
    font-size: 22px;
    color: var(--color-secundario);
    margin-bottom: 10px;
}
/*  texto  */
.energia p{
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 15px;
}
.energia figure{
margin: 20px auto;
text-align: center;
}

.energia figure img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.oculto{
    display:none
}
#lista-exp{
      margin-top: 20px;
  text-align: left;
  max-width: 500px;
  margin-inline: auto;
  background: #eaf4fb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, padding 0.3s ease;
}
#lista-exp.activo{
    max-height: 500px;
    padding: 20px;
}
#btn-experimentos{
   display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background-color:var(--color-secundario);
    color:#f4f6f5;
    text-decoration:none;
    border-radius:8px;
    width: 170px;
    height: 50px;
    transition: 0.2s;
}
#btn-experimentos:hover{
        transform: translateY(-5px);
}
.energia figcaption{
     font-size: 14px;
    color: #333;
    margin-top: 8px;
}
.experimentos ul {
  list-style: none;
  padding: 0;
}

.experimentos li {
  margin: 12px 0;
}

.experimentos a {
  text-decoration: none;
  color: var(--color-terciario);
  font-weight: bold;
  transition: 0.3s;
}

.experimentos a:hover {
  color: var(--color-secundario);
  text-decoration: underline;
}

/* Pie de página */
footer {
    text-align:center;
    padding:20px;
    background-color:var(--color-primario);
    color: var(--color-texto);
    margin-top: 10px; 
}
/* tablets y celuuus */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 60px; /* más pequeño en tablet */
    }
    .hero h2 {
        font-size: 28px;
    }
    .title {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 42px; /* más pequeño en celuuu */
    }
    .hero h2 {
        font-size: 22px;
    }
    .hero p {
        font-size: 16px;
    }
    .title {
        font-size: 32px;
    }
    .info {
        flex-direction: column; /* no amontonar*/
        align-items: center;
    }
    .card {
        width: 90%; /* celular tamaño kiii*/
    }
    nav ul {
        flex-direction: column; /* para el menúppp */
        gap: 10px;
    }
}
