
input[type="file"] {
    margin-top: 10px;
    color: white;
}

button {
    background: #00d4ff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0099cc;
}

footer {
    background: #2b657f;
    padding: 15px;
    text-align: center;
    

}
body {
    background-color: #2b657f;
}