@font-face {
    font-family: 'Coolvetica';
    src: url('coolvetica.otf') format('opentype');
}

:root {
    --color-primario: #073d67ed; 
    --color-secundario: #154b62ec;
    --color-terciario: #15344df0;
    --color-clarito: #055c9e8b;
    --color-texto: #f5f9fcf0;
    --color--oscuro:#0f273af0;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.title{
    font-size: 58px;
    color:var(--color-primario);
    text-align: center;
    margin-top: 20px;
}

/* Configuración del cuerpo */
body {
    font-family: 'coolvetica';
    font-weight: normal;
    letter-spacing: 0.7px; 
    background-image: url("fondo_scishark.webp");
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color:#1a1a1a;
    transition: background-color 0.4s, color 0.4s;
}

/* Barra de navegación */
.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
    font-size: 19px;
    background: #097aaa5a;  
    color:#F5F9FC;
}

.logo {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}

.logo-text {
    font-weight:normal;
    font-size:20px;
    margin-left:10px;
}

.logo-container {
    display:flex;
    align-items:center;
}

nav ul {
    list-style:none;
    display:flex;
    gap:20px;
}

nav a {
    text-decoration:none;
    color:white;
}

nav a:hover {
    text-decoration:underline;
}

/* Sección Hero */
.hero {
    text-align:center;
    padding:45px 20px;
}

.hero h1 {
    font-size:89px;
    color:var(--color-texto);
}

.hero h2 {
    margin:14px 0;
    font-size:36px;
    color:var(--color-terciario);
}

.hero p {
    max-width:600px;
    font-size: 20px;
    margin:16px auto;
    color: var(--color-primario);
}

/* Botones */
.btn-login {
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background-color:var(--color-secundario);
    color:#f4f6f5;
    text-decoration:none;
    border-radius:8px;
    width: 170px;
    height: 50px;
    transition: 0.2s;
}

.btn-login:hover {
    transform: translateY(-5px);
}

/* Tarjetas de información */
.info {
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px 10%;
    flex-wrap:wrap;
}

.card {
    background:var(--color-clarito);
    padding:25px;
    border-radius:10px;
    width:250px;
    text-align:center;
    box-shadow:0 6px 13px rgba(20, 20, 20, 0.521);
    transition: 0.3s;
}

.card h3 {
    margin-bottom:10px;
    color:var(--color--oscuro);
    font-size: 22px;
}

.card:hover {
    transform: translateY(-10px);
}

/* Pie de página */
footer {
    text-align:center;
    padding:20px;
    background-color:var(--color-primario);
    color:white;
    margin-top: 10px; 
}

.cuenta-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Funcionalidad modo oscuro CSS */
#modo-check {
    display: none;
}

/* Botón activador de modo oscuro */
.btn-toggle {
    display: block;
    margin: 40px 0 10px 10%; 
    padding: 10px 20px;
    background-color: var(--color--oscuro);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
}

.btn-toggle:hover {
    background-color: var(--color-secundario);
}

/* Cambiar colores a modo oscuro */
body:has(#modo-check:checked) {
    background-color: #2f5e91;
    background-image:url(fondo_scishark.webp);
    color: white;
}

/* Aplicar color negro al texto :v */
body:has(#modo-check:checked) .hero h1,
body:has(#modo-check:checked) .hero h2,
body:has(#modo-check:checked) .hero p,
body:has(#modo-check:checked) .card p,
body:has(#modo-check:checked) .card h3,
body:has(#modo-check:checked) .navbar,
body:has(#modo-check:checked) .navbar nav a, 
body:has(#modo-check:checked) .logo-text,   
body:has(#modo-check:checked) .card,
body:has(#modo-check:checked) .btn-login {
    color: rgba(15, 4, 4, 0.874) !important; 
}
    

body:has(#modo-check:checked) .card {
    background: #1d466799;
}
