@font-face {
    font-family: 'Coolvetica';
    src: url('coolvetica.otf') format('opentype');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.title{
    font-size: 38px;
    color: #0B3C5D;
    text-align: center;
    margin-top: 20px;
}
/* ===== CUERPO ===== */
body{
    font-family: 'coolvetica' ;
    font-weight: normal;
     letter-spacing: 0.7px; 
    background-image: url("fondo_scishark.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color:#1a1a1a;
}

/* ===== NAVBAR ===== */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
    background: rgba(11, 60, 93, 0.416); 
    backdrop-filter: blur(15px); 
    color:#F5F9FC;
}

.logo {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}

.logo-text{
    font-weight:normal;
    font-size:20px;
    margin-left:10px;
}

.logo-container{
    display:flex;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:normal;
}

nav a:hover{
    text-decoration:underline;
}

/* ===== HERO ===== */
.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:58px;
    color:#083d56;
}

.hero h2{
    margin:10px 0;
    font-size:28px;
    color:#014c6f;
}

.hero p{
    max-width:600px;
    margin:15px auto;
}

/* ===== BOTÓN ===== */
.btn-login{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background-color:rgb(11, 60, 93);
    color:#A2B5AF;
    text-decoration:none;
    border-radius:8px;
    font-weight:normal;
}

.btn-login:hover{
    background-color:#003f5c;
}

/* ===== TARJETAS ===== */
.info{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px 10%;
    flex-wrap:wrap;
}
.card{
 background:#3582c1c7;
    padding:25px;
    border-radius:10px;
    width:250px;
    text-align:center;
    box-shadow:0 6px 13px rgba(20, 20, 20, 0.521);
}

.card h3{
    margin-bottom:10px;
    color:#003f5c;
}

/* ===== FOOTER ===== */
footer{
    text-align:center;
    padding:20px;
    background-color:#003f5c;
    color:white;
    margin-top:40px;
    /*=== aqui creo que en el borde superior derecho de la pagina se muestre la foto de perfil del usuario y al
     momento de hacer click te mande a su cuenta con su informacion ===*/
}
.cuenta-container {
    position: absolute;
    top: 10px;
    right: 10px;

}
.perfil-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #648bab;

}
.foto-perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;

}
.nombre-usuario{
    font-size: 16px;
    font-weight: normal;
}
.perfil-link:hover .nombre-usuario{
    text-decoration: underline;
    padding: 5px;
    background-color: #003f5c;
    color: white;
    border-radius: 8px;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-login {
    transition: 0.2s;
}
.btn-login:hover {
    transform: translateY(-5px);
}
