body {
    font-family: Arial;
    margin: 0;
    background-color: #BBC7CF;
}

/* HEADER */
header {
    background-color: #2B657F;
    color: white;
    text-align: center;
    padding: 25px;
}

/* BUSCADOR */
.search {
    text-align: center;
    margin: 20px;
}

.search input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* GRID */
.container {
    padding: 20px;
}



/* TARJETAS */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.03);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    display: flex;
    width: 30%;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}
.fisica { background: #2B657F; }
.quimica { background: #2B657F; }
.biologia { background: #2B657F; }

button {
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}

/* ICONITO :/  */
h1 i {
    margin-right: 10px;
    color: #ffffff;
}
footer{
    text-align:center;
    padding:20px;
    background-color:#003f5c;
    color:white;
    margin-top:500px;
}